body {
  font-family: cursive;
}

.slide.fill img {
  left: auto;
  top: auto;
  min-width: auto;
  min-height: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.zy-ml30 {
  margin-left: 400px;
}

.file-setting {
  color: yellow;
}

#incallback, #outcallback {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-default {
  background: #fff;
  color: #000;
}

.btn {
  cursor: pointer;
}

.btn.disabled {
  color: #a9a9a9;
}

.lm-rool {
  position: absolute;
  right: 0;
  bottom: 85px;
  width: 140px;
  border: 20px solid #fff;
  border-radius: 50%;
}

.pic-note {
  font-size: 16px;
}

.pic-note img {
  display: block;
  margin: 15px auto;
  width: 80%;
}

.pic-note img.first {
  width: 48%;
}

.pic-note p {
  margin: 0 auto;
  width: 80%;
}

.qb-icon {
  position: absolute;
  right: 220px;
  bottom: 60px;
  width: 160px;
}

.question-icon {
  display: block;
  margin: 20px auto;
  width: 40%;
}

.houdini-welcome {
  margin: 40px auto 0;
  width: 40%;
  font-family: cursive;
  font-size: 32px;
  font-weight: 600;
  color: #f00;
  animation: pound 1s infinite;
}

@keyframes pound {
  50% {
    transform: scale(1.2);
  }
}

.slide.fill img.seven-module {
  position: absolute;
  left: 0;
  top: 160px;
  width: 400px;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.slide.fill img.woman {
  position: relative;
  display: inline-block;
  width: 260px;
  z-index: 1;
}

.slide.fill img.woman.blur {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.slide.fill img.customize-pic {
  position: relative;
  width: 300px;
  z-index: 1;
}

.slide.fill img.jjzd {
  margin: 10px 0;
  width: 600px;
}

.slide.fill img.focus {
  margin: 20px 0;
  display: inline-block;
  width: 230px;
  height: 220px;
  z-index: 1;
}

.slide.fill img.lf:not(:first-child) {
  margin: 20px 0;
  display: inline-block;
  width: 300px;
  height: 200px;
  z-index: 1;
}

.slide.fill img.lf:first-child {
  margin: 20px 0;
  display: inline-block;
  width: 200px;
  height: 200px;
  z-index: 1;
}

.slide.fill img.mt20 {
  margin-top: 20px;
}

.slide.fill img.zs {
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 300px;
  z-index: 1;
}

.slide.fill img.think {
  position: absolute;
  right: -150px;
  top: 200px;
  width: 220px;
}

.slide.fill img.think1 {
  position: absolute;
  left: 300px;
  top: 0;
  width: 220px;
}

.slide.fill {
  background-size: 100% 100%;
}

.slide.fill img.index-img {
  display: block;
  position: relative;
  margin: -50px auto 50px;
  width: 70%;
  border: 0 none;
}

.slide.fill img.indstacking-order {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: auto;
  border: 0 none;
  z-index: 1;
}

.slide.fill img.sc-question {
  position: absolute;
  right: 20px;
  bottom: 80px;
  width: 18%;
  transform: rotate(13deg);
}

.theme-tag {
  position: fixed;
  top: 15px;
  left: 20px;
  opacity: .5;
  font-size: 34px;
  font-family: serif;
}
